ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    height: 5vh;
    align-content: center;
    background-color:  #f3f3f3 ;
    bottom: 0;
}
html{
    height: 100%;
}

li {
    float: left ;
    display: block;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 24vw;
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 2vh;
}

li:last-child{
    border-right: none;
}

img{
}